
<span id="ProductGenericNameHelpdiv">
    "Please Enter Generic Name"
</span>
<span id="ProductDescriptionHelpdiv">
    "Please Enter Description"
</span>
<span id="ProductTitleHelpdiv">
    "Please Enter Title"
</span>
<span id="ProductWeightHelpdiv">
    "Weight in Grams."
</span>
<span id="ProductPriceHelpdiv">
    "Price in ₹"
</span>
