
@{
    ViewBag.Title = "On404";
}

<h2 class="jumbotron text-danger alert-danger">Oops Something Went Wrong!!</h2>
<h3 class="text-danger alert-danger">Resource Not Found. Retry Again in some minutes....</h3>

